## Linear Regression

In [4]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.simplefilter('ignore')
#plt.style.use('dark_background')

In [5]:
data = pd.read_csv('Transformed_Housing_Data2.csv')
data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0

In [6]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = pd.DataFrame({
    'Sale_Price': [1, 2, 1.5, 3, 2.5, 3.5]
})

# Calculate the mean of 'Sale_Price'
mean_sales = data['Sale_Price'].mean()

# Create 'Floor_mean' column with floored mean value
data['Floor_mean'] = np.floor(mean_sales)

# Display the DataFrame
print(data)

# View the output of 'mean_sales'
print(data['Floor_mean'].head().values)  # Should output: array([1., 1., 1., 1., 1., 1.])

   Sale_Price  Floor_mean
0         1.0         2.0
1         2.0         2.0
2         1.5         2.0
3         3.0         2.0
4         2.5         2.0
5         3.5         2.0
[2. 2. 2. 2. 2.]

In [7]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Sale_Price': [1, 2, 1.5, 3, 2.5, 3.5]
})

# Calculate the mean Sale_Price for each Category using pivot_table
pivot_table = pd.pivot_table(data, values='Sale_Price', index='Category', aggfunc='mean')

# Apply the floor function to the mean values
floor_mean = pivot_table.apply(np.floor)

print(floor_mean)

          Sale_Price
Category
A                1.0
B                2.0

## question -  Using pandas.pivot_table() to calculate the "floor_mean"

In [8]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = pd.DataFrame({
    'Floor': [1.0, 1.5, 2.0, 2.5, 3.0, 3.5],
    'Sale_Price': [431826.297032, 542188.988482, 599260.70846, 798774.47205, 551141.645425, 662634.375]
})

# Create a pivot table to calculate the mean of 'Sale_Price' for each 'Floor'
pivot_table = pd.pivot_table(data, values='Sale_Price', index='Floor', aggfunc='mean')

# Apply the floor function to the mean values
floor_mean = pivot_table.apply(np.floor)

# Display the result
print(floor_mean)

       Sale_Price
Floor
1.0      431826.0
1.5      542188.0
2.0      599260.0
2.5      798774.0
3.0      551141.0
3.5      662634.0

## To compare residual plots

In [9]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = pd.DataFrame({
    'Floor': [1.0, 1.5, 2.0, 2.5, 3.0, 3.5],
    'Sale_Price': [431826.297032, 542188.988482, 599260.70846, 798774.47205, 551141.645425, 662634.375]
})

# Calculate the overall mean of Sale_Price
overall_mean = data['Sale_Price'].mean()

# Create a pivot table to calculate the mean of 'Sale_Price' for each 'Floor'
pivot_table = pd.pivot_table(data, values='Sale_Price', index='Floor', aggfunc='mean')

# Apply the floor function to the mean values
floor_mean = pivot_table.apply(np.floor)

# Initialize the 'floor_mean' column with default value
data['floor_mean'] = 0

# Fill the 'floor_mean' column with the floored mean prices
for floor_value in floor_mean.index:
    data.loc[data['Floor'] == floor_value, 'floor_mean'] = floor_mean.loc[floor_value, 'Sale_Price']

# Calculate mean_difference (difference from the overall mean)
mean_difference = data['Sale_Price'] - overall_mean

# Calculate floor_mean_difference (difference from the floored mean price)
floor_mean_difference = data['Sale_Price'] - data['floor_mean']

# Display sizes and values
print("mean_difference size:", mean_difference.size)
print("floor_mean_difference size:", floor_mean_difference.size)
print("\nmean_difference:\n", mean_difference)
print("\nfloor_mean_difference:\n", floor_mean_difference)

mean_difference size: 6
floor_mean_difference size: 6

mean_difference:
 0   -165811.450709
1    -55448.759259
2      1622.960719
3    201136.724309
4    -46496.102316
5     64996.627259
Name: Sale_Price, dtype: float64

floor_mean_difference:
 0    0.297032
1    0.988482
2    0.708460
3    0.472050
4    0.645425
5    0.375000
dtype: float64

In [10]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = pd.DataFrame({
    'Floor': [1.0, 1.5, 2.0, 2.5, 3.0, 3.5],
    'Sale_Price': [431826.297032, 542188.988482, 599260.70846, 798774.47205, 551141.645425, 662634.375]
})

# Calculate the overall mean of Sale_Price
overall_mean = data['Sale_Price'].mean()

# Create a pivot table to calculate the mean of 'Sale_Price' for each 'Floor'
pivot_table = pd.pivot_table(data, values='Sale_Price', index='Floor', aggfunc='mean')

# Apply the floor function to the mean values
floor_mean = pivot_table.apply(np.floor)

# Initialize the 'floor_mean' column with default value
data['floor_mean'] = 0

# Fill the 'floor_mean' column with the floored mean prices
for floor_value in floor_mean.index:
    data.loc[data['Floor'] == floor_value, 'floor_mean'] = floor_mean.loc[floor_value, 'Sale_Price']

# Calculate MSE1: Mean Squared Error for the overall mean model
MSE1 = ((data['Sale_Price'] - overall_mean) ** 2).mean()

# Calculate MSE2: Mean Squared Error for the floor mean model
MSE2 = ((data['Sale_Price'] - data['floor_mean']) ** 2).mean()

# Calculate R^2 value
R2 = 1 - (MSE2 / MSE1)

# Output results
print("MSE1 (Mean Squared Error for Overall Mean Model):", MSE1)
print("MSE2 (Mean Squared Error for Floor Mean Model):", MSE2)
print("R^2 Value:", R2)

MSE1 (Mean Squared Error for Overall Mean Model): 12902177840.410181
MSE2 (Mean Squared Error for Floor Mean Model): 0.39121164632348676
R^2 Value: 0.9999999999696786